/* app/posts/page.module.css */


.container {
    max-width: 980;
    margin: 0 auto;
    padding: 20px;
  
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    color: #333;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .item {
    margin: 15px 0;
  }
  
  .link {
    font-size: 1.2rem;
    color: #0070f3;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
